// color palette
$color-1: #5176a6; // Blue Yonder - Action color
$color-2: #70731f; // Spanish Bistre
$color-3: #a64b29; // Chinese Red
$color-4: #c2d2f2; // Periwinkle Crayola
$color-5: #000000; // Black

// fonts
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
$primary-font: 'Maitree', serif;
$secondary-font: 'Catamaran', sans-serif;


body {
    background-image: url(/zen-garden/images/background-image-small-01.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: $primary-font;
}

.intro h1 {
    font-size: 5rem;
    margin-bottom: 10px;
}

.intro h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-3;
}

.wrapper h3 {
    color: $color-5;
}

p {
    color: $color-5;
}

.footerImg img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.intro, .main {
    margin: 3.5em;
}

aside {
    background-color: $color-2;
    padding: 3.5em;
}

.design-selection h3, .design-archives h3, .zen-resources h3 {
    margin: 0;
}

// header, footer, aside {
//     background-color: $color-2;
// }

// footer {
//     text-align: center;
//     font-size: .5em;
//     padding-top: 5px;
// }

// .benefits {
//     border-bottom: $color-1 solid 10px;
// }

// .wrapper img {
//     display: block;
//     margin: 0 auto;
//     width: 32.5em;
//     background-color: $color-4;
// }

.intro a:link {
    color: $color-2;
}

.intro a:hover {
    color: $color-3;
}

.main a:link {
    color: $color-2;
}

.main a:hover {
    color: $color-3;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    padding: 3px 0;
}

// aside h3 {
//     color: $color-4;
// }

aside ul a:link {
    color: $color-4;
    text-decoration: none;
}

aside ul a:hover {
    color: $color-3;
}

// .design-archives, .zen-resources, .design-selection {
//     padding: 5px 0 5px 1.5em;
// }

.tent img, .backpack img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 200px;
}

.tent, .backpack {
    margin: 2em;
}

footer {
    text-align: center;
    font-size: .5rem;
    background-color: $color-2;
    padding-bottom: 50px;
}

footer a:link {
    color: $color-4;
}


// Large Screen

@media only screen and (min-width: 850px) {

    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .intro {
        grid-column: 1/5;
    }

    .main {
        grid-column: 1/5;
    }

    .footerImg {
        grid-column: 1/5;
    }

    aside {
        grid-column: 1/5;
    }

    .tent {
        grid-column: 1/3;
    }

    .backpack {
        grid-column: 3/5;
    }

    body {
        background-image: url(/zen-garden/images/background-image-01.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    .intro, .main {
        margin: 5em 10em;
    }

    .sidebar {
        padding: 5em 10em;
    }

    .tent img, .backpack img {
        width: 350px;
    }

    .tent {
        padding-left: 5em;
    }

    .backpack {
        padding-right: 5em;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .design-selection {
        grid-column: 1/2;
    }

    .design-archives {
        grid-column: 2/3;
    }

    .zen-resources {
        grid-column: 3/4;
    }
    // .intro {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-gap: 5px;
    // }

    // header {
    //     grid-column: 1/4;
    // }

    // .summary {
    //     grid-column: 2/4;
    // }

    // .preamble {
    //     grid-column: 2/4;
    // }

    // .main {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-gap: 5px;
    // }

    // .explanation {
    //     grid-column: 1/3;
    // }

    // .participation {
    //     grid-column: 1/3;
    // }

    // .benefits {
    //     grid-column: 2/4;
    // }

    // .requirements {
    //     grid-column: 1/3;
    // }

    // footer {
    //     grid-column: 1/4;
    // }

    // .wrapper {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr;
    //     grid-gap: 5px;
    // }

    // .design-selection {
    //     grid-column: 1/2;
    // }

    // .design-archives {
    //     grid-column: 2/3;
    // }

    // .zen-resources {
    //     grid-column: 3/4;
    // }
}