@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');
body {
  background-color: #c2d2f2;
  font-family: 'Maitree', serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #a64b29;
}